.tag-line {
    font-weight: bold;
    background-color: #eee;
}
.tag-line.normal {
    font-weight: normal!important;
    color: #3f87a6;
}
.sub-title {
    background-color: #000;
    color: #fff;
    font-size: 14px;
}
.code {
    border-left: 5px solid #3f87a6;
    background-color: #eee;
    min-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
    padding: 10px 0 10px 10px;
}
.row {
    max-width: 600px;
    line-height: 1.4;
}
.warning {
    background-color: #fff3d4;
    border-left: 5px solid #f6b73c;
    max-width: 600px;
    padding: 10px 20px 10px 0;
}
.warning > p {
    margin: 0;
    padding-left: 10px;
    line-height: 1.4;
}